<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Buddy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add New Buddy</h1>
<form action="#" th:action="@{/addBuddy}" th:object="${buddy}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Phone: <input type="text" th:field="*{phone}" /></p>
    <p>AddressBook ID: <input type="text" th:field="*{addressBookId}"/></p>
    <p><input type="submit" value="Submit" />
</form>

<h1 th:text = "${addressbook.userName}"></h1>
<h2>Buddies</h2>
<table>
    <tr>
        <th>Name </th>
        <th>Address </th>
        <th>Phone Number </th>
        <th>ABID </th>
    </tr>
    <tr th:each="buddy : ${addressbook.buddies}">
        <td th:text="${buddy.name}"></td>
        <td th:text="${buddy.phone}"></td>
        <td th:text="${buddy.addressBookId}"></td>
    </tr>
</table>
</body>
</html>